# Dependencies
.cache
node_modules

# Build output
/public

# Package manager
package-lock.json
yarn.lock
yarn-error.log

# OS
.DS_Store

# IDE
.idea/
.vscode/

# Environment
.env
.env.local
.env.*.local
