---
import { siteConfig } from '../../data/siteConfig';
import '../../assets/sass/components/module.headersection.scss';
---

<section class="header-section">
  <div class="container">
    <h1 class="main-heading">{siteConfig.heading}</h1>
    <h3 class="sub">{siteConfig.subHeading}</h3>
    <hr class="divider" />
  </div>
</section>
