---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Page Not Found | ACU at NYU" fullMenu>
  <section id="wrapper">
    <header>
      <div class="inner">
        <h2>Page not found</h2>
        <p>Not a valid URL</p>
      </div>
    </header>
  </section>
</Layout>
