---
const socialLinks = [
  {
    icon: 'fa-instagram',
    href: 'https://instagram.com/nyu_acu',
    label: 'Instagram',
  },
  {
    icon: 'fa-facebook',
    href: 'https://www.facebook.com/nyu.acu/',
    label: 'Facebook',
  },
  {
    icon: 'fa-github',
    href: 'https://github.com/acu-nyu/',
    label: 'GitHub',
  },
];
---

<section id="footer">
  <div class="inner">
    <h2 class="major">Get in touch</h2>
    <ul class="actions fit">
      <li>
        <a
          href="http://eepurl.com/bc5n6r"
          target="_blank"
          rel="noreferrer"
          class="button"
        >
          Join our mailing list!
        </a>
      </li>
    </ul>
    <ul class="icons" style="text-align: center;">
      {socialLinks.map(link => (
        <li>
          <a
            class={`icon ${link.icon}`}
            href={link.href}
            alt={link.label}
            target="_blank"
            rel="noreferrer"
          >
            {' '}
          </a>
        </li>
      ))}
    </ul>
    <p style="text-align: center;">
      Feel free to reach out to us on any of our socials!
    </p>
    <ul class="copyright">
      <li>&copy; Asian Cultural Union at NYU. All rights reserved.</li>
      <li>
        Design: <a href="http://html5up.net">HTML5 UP</a>
      </li>
    </ul>
  </div>
</section>
