---
import '../assets/sass/components/module.headersection.scss';

const config = {
  heading: 'Asian Cultural Union at NYU',
  subHeading: "NYU's Largest Asian Umbrella Organization",
};
---

<section className="header-section">
  <div className="container">
    <h1 className="main-heading">{config.heading}</h1>
    <h3 className="sub">{config.subHeading}</h3>
    <hr className="divider" />
  </div>
</section>
